@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    /* max-width: 3000px; */
     font-family: 'Montserrat', sans-serif;
}

.topbar{
    /* border: 1px solid black; */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    background-color: white;
    /* box-sizing: border-box; */

}

.logo{
   /* border:1px solid purple; */
   width: 100px;
}

.navbar{
   /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left: auto;
    margin-right: 2%;
}

.nav-lists{
  
    display: flex;
    gap: 40px;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    
 }

 .nav-lists>a{
   color: rgb(26, 25, 25); 
   text-decoration: none;
    /* border: 1px solid salmon; */
 }
 
 .nav-lists>a:hover {
    color: #ED1C24;
 }

 .dropdown{
   list-style-type: none;
   background-color: white;
   color: black;
   text-wrap: nowrap;
   border-radius: 5px;
   box-shadow: .5px .5px 2px .1px;
   display: flex;
   flex-direction: column;
   padding: 10px;
   position: absolute;
   top: 18px;
   line-height: 30px;
   cursor: pointer;
   transition: all 1s;
   max-height: 0;
   overflow: hidden;
   /* opacity: 0; */
   /* max-height: 300px; */

   /* max-height: 0; */

 }

 .dropdown1{
   display: none;
 }

.solutions-links:hover{
   .dropdown1{
      display: block;
      max-height: 300px
   };
}

 .dropdown2{
   display: none;
 }

.use-cases-links:hover{
   .dropdown2{
      display: block;
      max-height: 300px
   };
}

.dropdown li:hover{
   color: #ED1C24;
}

 .nav-button{
   /* border: 1px solid purple; */
    background-color: #ED1C24;
    color: white;
    border-radius: 20px;
    width: 150px ;
    height: 35px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: 'Montserrat';
    font-size: 12px;
    /* text-align: center; */
    
    
 }

 .nav-button:hover{
    background-image: linear-gradient(rgba(255, 255, 255, 0.401));
 }

 .bi-list{
   display: none;
 }

 @media(max-width: 900px){
   .nav-lists{
       /* border: 1px solid purple; */
       gap: 20px;
   }

  
 }

 @media(max-width: 500px){
   .navbar{
       /* border: 1px solid purple; */
       display: none;
   }

    .bi-list{
      /* border: 1px solid black; */
      display: block;
      /* width: 100px; */
      font-weight: 900;
      font-size:40px;

    
   }

  

   .nav-button{
      /* width: 50%; */
      margin-left: auto;

   }

   .bi-list{
      margin-left: 2%;
   }
 }



 header{
    /* border: 1px solid; */
   margin: 100px auto 70px auto;
   width: 60%;
    font-size: 30px ;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

 .section-p1{
  font-size: 54px;
  width: 50%;
  margin: 0px auto;
 }

.section-p2{
   /* border: 1px solid brown; */
   padding: 10px 0px;
    font-size: 25px;
 }


 .divspace{
    display: flex;
     justify-content: center;
    align-items: center; 
    gap: 20px;
    padding: 20px;
 }

 .nav-button2{
    border-radius: 50px;
    border: 1px solid black;
    padding: 15px 35px;
    /* height: 60px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
 }

  .left{
    border: 1px solid #ED1C24;
    color: #ED1C24;
    background: none;
    width: fit-content;
 }

 .left:hover{
    border: 1px solid black;
    color: black;
 }

 .right{
    border: 1px solid #ED1C24;
    color: white;
    background-color: #ED1C24;
    width: fit-content;
 }

 .right:hover{
    background-image: linear-gradient(rgba(255, 255, 255, 0.285));
 } 

 @media(max-width:900px){
   .container{
      margin-top: -30px;
   }

   .topbar{
      display: none;
   }

   .header{
      width: 90%;
       margin: 70px auto 20px auto;
      /* border: 1px solid purple; */

   }

   .section-p1{
      /* border: 1px solid brown; */
      width: 100%;
      margin: 0;
      font-size: 40px;
   }

   .nav-button2{
      font-size: 20px;
      padding: 15px 40px;
   }
 }

 @media(max-width:500px){
   .section-p1{
      width: 100%;
   }

  .divspace{
   /* border: 1px solid green; */
   width: 100%;
   display: flex;
   flex-direction: column;
   padding: 20px 0px;
   }

   .nav-button2{
      width: 100%;
      
   }
 }

  section{ 
    margin: 0px auto;  
 }

 .main{
   /* border: 1px solid purple; */
    display: flex;
    flex-direction: column-reverse;
    /* gap: 80px; */
    width: 80%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
 }

 .main-row{
   /* border: 1px solid magenta; */
   display: flex;
   justify-content: space-around;

 }

 .textsinbox{
    width: 45%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid green; */
    margin: auto 0px;
 }

 .tib-h1{
    font-size: 3.5rem;
 }

 .tib-p{
    font-size: 1.1rem;
 }

 .images-right{
   /* border: 1px solid green; */
    /* max-width: 60%; */
    width: 50%;
    height: 50%;
    /* display: block; */
    /* flex: 2; */
 }

 .main-row:nth-child(even) {
    flex-direction: row-reverse;
 }

 @media(max-width:900px){
   .main{
      width: 90%;
      /* border: 1px solid; */
   }

   .tib-h1{
      font-size: 2.5rem;
   }

   .tib-p{
      font-size: 16px;
      line-height: 24px;
   }
 }

 @media(max-width:500px){
   .main{
      width: 80%;
   }

   .main-row, .main-row:nth-child(even){
     flex-direction: column;
   }

  .textsinbox{
    width: 100%;
    margin: 0px auto;
    text-align: center;
    line-height: 24px;
    padding: 20px 0px;
  }

 .tib-h1{
   font-size: 20px;
   width: 80%;
 }

 .tib-p{
   font-size: 16px;
   width: 100%;
 }

 .images-right{
   width: 100%;
   padding: 20px 0px;
 }
   
 }

 /* @media (max-width: 700px) {
    .main-row,
    .main-row:nth-child(even) {
        flex-direction: column;
    }

    .textsinbox,
    .images-right{
        min-width: 50%;
    }
 }


 @media(max-width: 900px){
         .navbar{
            display: none;
         }


    }


@media(max-width: 500px){
    .header{
         font-size: 20px  !important;
    }

    .divspace{
       width:100%;
      display: flex;
      flex-direction: column;
      }

    .nav-button2{
        width: 50%;
        height: 900px;
        font-size: 18px;
      }

   }
  */

.sect1{
    /* border: 1px solid green; */
    margin: 20px auto;
    display: flex;
    justify-content: center;
    /* width: 800px; */
}

 .sect2{
    display: flex;
    justify-content: space-around;
   display: grid;
   grid-template-columns: 2fr 2fr;
   gap: 40px;
   width: fit-content;
   min-height: 200px;
   
 }

 .sect3{
    width: 350px;
    height: 300px;
    /* border: 1px solid firebrick; */
     list-style: none;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     /* align-content: top; */
    text-align: center;  
    gap: 40px;  
    /* font-weight: 400; */
     
   
 }

 .sect-h3{
    font-weight: 700;
    margin-bottom: -25px;
 }



 .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
 }

 .smicons{
     display: flex;
     gap: 20px; 
     list-style: none;
     /* background-color: #ED1C24; */
     margin-top: 30px;
     filter: invert(20%) sepia(97%) saturate(3000%);
 }

 .bottom-lists{
    margin-top: 40px ;
    margin-bottom: 30px;
 }

  .bottom-nav{
    /* border: 1px solid; */
    /* box-shadow: #ED1C24; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: white;
    position: fixed;
    bottom: 30px;
    border-radius: 12px;
    width: 500px;
    /* margin-left: 20%; */
    box-shadow: 1px 1px 3px 1px grey;
 }

 .bottom-nav-button{
    background: none;
    color: #ED1C24;
    border:1px solid #ED1C24;
    width: 30px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 16px;
 }





